<div id="categoriesPage">
    <h1> Categories Settings</h1>
    {{#if messages.cMSG}}
        <p>{{messages.cMSG}}</p>
    {{/if}}
    <div class = "categorySetting">
        <h2> My Categories</h2>
        <ul id="categoriesList"> 
        {{#if selectedCategories}}
            {{#each selectedCategories}}
            <li>{{this.Name}}<a id="sendBtn" href="/categories/editC/{{this.Id}}"> Edit </a></li>
            {{/each}}
        {{/if}}
            {{!-- <li> Cars </li> --}}
        {{#unless selectedCategories}}
            <li> No Categories Yet </li>
        {{/unless}}
        </ul>
    </div>
    <div id="categoriesSettings">
        <div class="categorySetting"> 
            {{#if errMSG}}
            <ul>
                {{#each errMSG}}
                <li class="errorMSG"> {{this}} </li>
                {{/each}}
            </ul>
            {{/if}}
            <div class="form-group">
                <form action="/add-category" method="POST">
                    <h3> Add Category </h3>
                    <label class="form-label" for="name">Category name</label>
                    <input class="form-input" type="text" name="name" placeholder="Ex: Car " required>
                    <br>
                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                    <button class="btn" id ="sendBtn"> Add </button>
                </form>
                <form action="/deleteC" method="POST">
                    <h3> Delete Category </h3>
                    <label class="form-label" for="name">Category name</label>
                    <input class="form-input" type="text" name="name" placeholder="Ex: Car " required>
                    <br>
                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                    <button id ="deleteBtn"> Delete </button>
                </form>              
            </div>
        </div>
    </div>
</div>