
<section class = "bodySection">
    <div class = "posts">
    {{#each data}}
        <a href="post/id = {{Id}}" class = "postLink">
        <section class = "post"> 
            <img src="shoes.jpg" class= "img-responsive" alt = "Post Image"> </img>
            <div id = "postInfo">
            
                <h3>{{this.Title}}</h3>
                <p>{{this.Price}}</p>
                <p id = "postParagraph">{{this.Description}}</p>
            </div>
                {{#if status}}
                    <button id = "editBtn"> Edit </button> <!-- If inlogged -->
                {{/if}}
        </section>
        </a> 
    {{/each}}  
    </div>
    <div class = "LastestPosts">
        <h3>Lastest Posts</h3>
        <div class = "lastPost">
        {{#each data}}
            <a href = "post/id= {{Id}} "> 
                <div class="test">
                    <h4>{{this.Title}} </h4>
                    <p> {{this.Date}}   </p>
                </div>
                <p> {{this.Price}}</p>
            </a>
        {{/each}}
        </div>  
    </div>
</section>