
<section class = "bodySection">
     {{#if errMSG}}
    <ul>
        {{#each errMSG}}
        <p class="errorMSG"> {{this}} </p>
        {{/each}}
    </ul>
    {{/if}}
    <div class = "posts">
    {{#each data}}
        <a href="/post/{{this.Id}}" class="postLink">
        <section class = "post"> 
            <img src="{{this.Image}}" class="img-responsive" id="postImage" alt="Post Image"> </img>
            <div id = "postInfo">
                <h3>{{this.Title}}</h3>
                
                <p>{{this.Price}} $</p>
                <p class="postParagraph">{{this.Description}}</p>
            </div>
        </section>
        </a> 
        {{else}}
        <p class="btn btn-error">No Content Yet </p>
    {{/each}}  
    </div>
    <div class = "LastestPosts">
        <h3>Lastest Posts</h3>
        {{#each limitData}}
        <div class = "lastPost">
            <a href = "post/{{this.Id}}"> 
                <div class="test">
                    <h4>{{this.Title}} </h4>
                    <p> 2020-09-29 </p> <!-- Not Working Yet--> 
                </div>
                <p> {{this.Price}} Kr</p>
            </a>
        </div> 
        {{/each}}
    </div>
</section>