
<section class = "bodySection">
    <div class = "posts">
    {{#each data}}
        <a href="post/id={{this.Id}}" class = "postLink">
        <section class = "post"> 
            <img src="./uploads/{{this.Image}}" class="img-responsive" id="postImage" alt="Post Image"> </img>
            <div id = "postInfo">
                <h3>{{this.Title}}</h3>
                <p>{{this.Prise}}</p>
                <p id = "postParagraph">{{this.Description}}</p>
            </div>
            {{#if Inlogged}}
            <button id = "editBtn"> Edit </button> <!-- If inlogged -->
            {{/if}}
        </section>
        </a> 
        {{else}}
        <p class="btn btn-error">No Content Yet </p>
    {{/each}}  
    </div>
    <div class = "LastestPosts">
        <h3>Lastest Posts</h3>
        <div class = "lastPost">
        {{#each data}}
            <a href = "post/id= {{this.Id}} "> 
                <div class="test">
                    <h4>{{this.Title}} </h4>
                    <p> 2020-09-29 </p> <!-- Not Working Yet--> 
                </div>
                <p> {{this.Prise}}</p>
            </a>
        {{/each}}
        </div>  
    </div>
</section>