
<section class = "bodySection">
     {{#if errMSG}}
    <ul>
        {{#each errMSG}}
        <li class="errorMSG"> {{this}} </li>
        {{/each}}
    </ul>
    {{/if}}
    <div class = "posts">
    {{#each selectedPosts}}
        <a href="/post/{{this.Id}}" class="postLink">
        <section class = "post"> 
            <img src="{{this.Image}}" class="img-responsive" id="postImage" alt="Post Image"> </img>
            <div id = "postInfo">
                <h3>{{this.Title}}</h3>
                
                <p>Price:{{this.Price}} $</p>
                <p class="postParagraph">{{this.Description}}</p>
            </div>
        </section>
        </a> 
        {{else}}
        <p class="btn btn-error">No Content Yet </p>
    {{/each}}  
    </div>
    <div class = "LastestPosts">
        <h3>Lastest Posts</h3>
        {{#each limitData}}
        <div class = "lastPost">
            <a class="lastPostLink" href = "post/{{this.Id}}"> 
                <div class="postContent">
                    <div class="infoDiv">
                        <h4>{{this.Title}} </h4>
                        <h5> {{this.Price}} $</h5>
                    </div>
                    <div class="dateDiv">
                        <h6>Uploaded At:</h6>
                        <p>{{this.Date}} </p>
                    </div>
                </div>
            </a>
        </div> 
        {{/each}}
    </div>
</section>