<div class = "ordersPage">
    <h1> Orders </h1>
    <div class="form-group">
        <form action="/filter-order" method="POST">
            <div class="form-group">
            <label class="form-radio form-inline">
                <input type="radio" name="sent"  value="unsent"><i class="form-icon"></i> Unsent
            </label>
            <label class="form-radio form-inline">
                <input type="radio" name="sent" value="sent"><i class="form-icon"></i> Sent
            </label>
            <label class="form-radio form-inline">
                <input type="radio" name="sent" checked="" value="showAll"><i class="form-icon"></i> Show All
            </label>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <button type="submit"> Filter </button>
            </div> 
        </form>
    </div>
        {{#if messages.oMSG}}
    <p>{{messages.oMSG}}</p>
    {{/if}}
    <div class = "orders"> 
    {{#if ordersValue}}
        {{#each ordersValue}}
        <div id = "orderInfo">
            <h3>Name: {{this.BuyerName}}</h3>
            <p>Email:{{this.BuyerEmail}}</p>
            <p>Address: {{this.BuyerAddress}}</p>
            <p>Zip Code: {{this.BuyerZipCode}}</p>
            <p>Order Id: {{this.Id}}</p>
            {{#if IfSent}}
            <p> The Product Has Already Been Shipped :D</p>
            <form  action="/deleteOrder/{{this.Id}}" method="POST">
                <input type="hidden" name="_csrf" value="{{../csrfToken}}">
                <button id="deleteBtn"> Delete </button>
            </form>
            {{else}}
            <p> The Product Has Not Been Shipped Yet :O</p>
            <form  action="/sendOrder/{{this.Id}}" method="POST">
                <input type="hidden" name="_csrf" value="{{../csrfToken}}">
                <button id="sendBtn"> Send Order </button>
            </form>
            {{/if}}
        </div>
        {{/each}}
    </div>
    {{else}}
    <p> No Orders Yet</p>
    {{/if}}
</div>
