<div class = "postSection">
    {{#if content}}
        <img src="../{{content.Image}}" alt="img" class = "img-responsive" id="postIMG">
        <div id = "postDiv">
            <div class = "postInfo">
                <h2><strong>Title: </strong> {{content.Title}} </h2>
                <p><strong>Price: </strong>{{content.Price}} $</p>
                <p><strong>Description: </strong> {{content.Description}}</p>
            </div>
          

        <div class="sellerSection"> 
            <h3>Seller Contact Information</h3>
            <div class= "sellerContact">
                <p>By: Abdel Rahman Mallah  </p>
                <p>Email: pickitngo@gmail.com </p>
                <p>Phone Number: 07 29757160 </p>
            </div>
        </div>
        {{#if isLoggedIn}}
        <a href ="/post/editP/{{content.Id}}" id="sendBtn"> Edit </a>
        <a href ="/post/deleteP/{{content.Id}}" id="deleteBtn"> DELETE </a>

        {{else}}
        <a href="/buy/{{content.Id}}" class="postBtn"> Order </a>
        {{/if}}
    {{/if}}
    </div> 
</div>