<section class = "bodySection">
     {{#if SearchError}}
    <ul>
        {{#each SearchError}}
        <p class="errorMSG"> {{this}} </p>
        {{/each}}
    </ul>
    {{/if}}
    <div class = "posts">
    {{#each data}}
        <a href="/post/{{this.Id}}" class="postLink">
        <section class = "post"> 
            <img src="{{this.Image}}" class="img-responsive" id="postImage" alt="Post Image"> </img>
            <div id = "postInfo">
                <h3>{{this.Title}}</h3>
                
                <p>{{this.Prise}} Kr</p>
                <p id = "postParagraph">{{this.Description}}</p>
            </div>
        </section>
        </a> 
    {{/each}}  
    </div>
</section>